.card_w {
    margin: 5px;
    width: 18rem;
    align-items: center;
}

.card-img-top{
    padding-top: 2em;
    width: 12rem;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.card-title-h {
    height: 4em;
}

.card-title {
    text-align: center;
}