.card_w {
    margin: 10px;
    width: 18rem;
    height: 25rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 15px 0 rgba(138, 68, 144, 0.5);
    border-radius: 8px;

}

.card-img-top{
    padding-top: 2em;
    width: 12rem;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.card-title-h {
    height: 4em;
}

.card-title {
    text-align: center;
    font-size: 1.25em;
}