:root {
    /* Colores */
    --btn-hover-back: rgb(255, 135, 225);
    --btn-hover-color: rgb(116, 0, 0);
    --btn-border: rgb(202, 195, 191);
    --btn-active-color:rgb(0, 0, 0);
    --btn-active-back:rgb(110, 0, 133);
    --btn-disable-color: rgb(0, 0, 0);
    --btn-disable-back: rgb(125, 125, 125);
}

.store {
    padding: 80px 0;
    background-color: #FDF8FF;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-repeat: repeat;
    /* background-size: cover;     */
}

.items-store {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title h4 {
  color: #FF46A2;
  font-weight: 600;
}

.title {
  padding-bottom: 15px;
}

.title h2 {
  font-weight: 700;
}

.cont-paginator {
    margin-top: 2em;
}

.paginationBtns{

    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  
  .paginationBtns a {
     padding: 10px;
     margin: 1px;
     border: 1px;
     border-style: solid;
     border-color: var(--btn-border);
     border-radius: 5px;
     width: 50px;
     color: var(--btn-active-color);
     cursor: pointer;
     text-decoration: none;
  }
  
  
  .paginationBtns a:hover {
    color: var(--btn-hover-color);
    background-color: var(--btn-hover-back);
  }
  
  .paginationActive > a {
    color: var(--btn-active-color);
    background-color: var(--btn-active-back);
  
  }
  
  .paginationDisabled a{
    color: var(--btn-disable-color);
    background-color: var(--btn-disable-back);  
  }