.contenedor {
    height:60vh;
    background-color:#FF46A2;
    /* background:linear-gradient(-100deg,deeppink 50%, #01b0f8); */
}


.card {
    background:#fff;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border:0;
}

.card-img-top{
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
}

h4{
    color: #01b0f8;
    font-size:21px;
    line-height: 1.3;
}

h4 span {
    font-size: 18px;
    color: #666666;

}

p{
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;
}


.carousel-indicators{
    left:0;
    top:auto;
    bottom: -60px;
}