.contenedoruno {
  background-image: url("../public/portada.jpg");
  padding: 6rem 0;
  background-size: cover;
  background-position: center center;
  height: 9rem;
}

.contenedordos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 950px) {
  .contenedordos {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5rem;
  }
}



.navegaciondos {
  display: flex;
  margin-top: 5rem;
  background: rgb(238, 238, 210);
  background: linear-gradient(
    180deg,
    rgba(238, 238, 210, 1) 0%,
    rgba(212, 212, 181, 1) 51%,
    rgba(238, 238, 210, 1) 100%
  );
  border-radius: 2rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  img {
    width: 12rem;
  }
}

@media (min-width: 480px) {
  .Blog {
    padding: 5px;
  }

  .card > .card-body {
    font-size: 1rem;
  }

  .Titulo-articulo {
    font-size: 1.8rem;
    font-family: "Latto", sans-serif;
  }

  .Titulo-blog {
    font-size: 3rem;
  }

  .Subtitulo-blog {
    font-size: 0.6rem;
    font-family: "Latto", sans-serif;
  }
}

img {
  width: 8rem;
}

.navegacion a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition-property: background-color;
  transition-duration: 300ms;
}

.navegaciondos .modificado {
  color: red;
  font-size: 2rem;
}

/*Imagenes cards mascotas*/

.Blog {
  background-image: url("./assets/img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: -5;
}

.Tarjeta-fondo {
  padding: 20px;
  background-color: #fff !important;
  border-radius: 8px;
  box-shadow: 0 0 30px 0 rgb(138 68 144 / 50%);
}

.card-body>.Descripcion-articulo{
  text-align: justify;
}

.imagen-card {
  width: 100%;
}

.Categoria-articulo {
  text-align: left !important;
  padding: 10px 0 10px 5px;
  background-color: #faf2f9;
}

.Titulo-articulo {
  font-size: 1.6rem;
  font-family: "Latto", sans-serif;
}

.Titulo-blog,
h2 {
  font-size: 5rem;
}

.Subtitulo-blog,
h5 {
  font-size: 2rem;
  font-family: "Latto", sans-serif;
  padding: 0 30px;
}

/* estilos footer PARTE1 */
.footer {
  /* position: fixed ; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(226, 111, 193);
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center center;
  height: 10%;
  padding-top: 2%;
  padding-bottom: 2%;

  @media(max-width: 480px) {
 
  }



}

.footer h4 {
  font-size: 40px;
  text-transform: capitalize;
  font-family: dancing script;
  margin: 10px 0;

}

.footer p {
  width: 50%;
  margin: auto;
  line-height: 1.6;
}




.Subtitulo-blog, h5{
  font-size: 2rem;
  font-family: 'Latto', sans-serif;
}






.footer span{

  width: 50px;
  height: 50px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  margin: 0 20px;
}

.social {
  padding-top: 2%;
}



.social{
  padding-top: 2%;
}

.social span{
  color: #1b0c4f;
  font-size: 25px;
  line-height: 50px;
}


@media(max-width: 1000px){
  .footer{
      height: 10%;
      padding-top:4%;
      padding-bottom: 4%;
  }
  .footer p{
      width: 90%;
  }
}

@media(max-width:600px){
  .footer{
      height: 10%;
      padding-top: 10%;
      padding-bottom: 2rem;
  }

  .footer p{
      width: 90%;
      line-height: 1.4;
      font-size: 10px;
  }

  .footer span{
      width: 35px;
      height: 35px;
      margin: 0 5px;
  }

  .social span i {
      font-size: 18px;
      line-height: 36px;
  }
}


@media(max-width:400px){
  .footer{
      height: 10%;
      padding-top: 10%;
      padding-bottom: 4%;
  }

  .footer p{
      width: 90%;
      line-height: 1.5;
      font-size: 0.8rem;
      text-align: center;
      margin-bottom: 1rem;
  }

  .footer span{
      width: 40px;
      height: 40px;
      margin: 1rem;
      background-color: rgb(226, 111, 193);
    
  }

  .social span i {
      font-size: 2rem;
      color: white;
      
     
    
  }
}

/* carrito  */

.articulo {
  font-size: 3rem;
}

.contenidoX  {
  display: grid;
  align-items: flex-start;
  gap: 5rem
  ;
}

@media ( min-width:768px) {

  .contenidoX {
      grid-template-columns: 3fr 2fr;
      
  }
}

.carrito {

  padding: 3rem;
  margin-left: 4rem;
  margin-right: 4rem;

}

@media(max-width: 400px){
   
  
  .producto img {
    display: block;
  }



 } 



.producto {

  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
  padding: 2rem 0;
  border-bottom:1px solid #cfcfcf ;
  position: relative;
  margin-top: 2rem;

 
     
  
}

.producto img {

  @media(max-width: 400px){
   display:block
   } 

}

.producto  span {
  
  font-weight: 700;
  font-size: 4.2rem;

}

.producto  .nombre{
  font-weight: 700;
  font-size: 2rem;

}

.producto .precio{
  font-weight: 700;
  color: #e99401;
  font-size: 2rem;
}


.producto .precio span {
  
  font-size: 2rem;
}

.producto .subtotal {

  font-size: 1.5rem;
}

.producto .subtotal span {

  font-size: 2rem;
}


.producto p {

  margin: 0 0 1rem 0;
}


.resumen{
  background-color: #f9fafb;
  padding: 3rem;
  border-radius: 1rem;
  position: sticky;
  top:3rem ;
  margin-right: 4rem;
  
}


.producto:last-of-type {
border-bottom: none;

}

.select {
  
  border: 1px solid #cfcfcf;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
}

.orden{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}


.btn_eliminar { 
  all: unset;
  position: absolute;
  text-align: center;
  top:1px;
  right: 15rem;
 
  }

  .extra { 
      width: 2rem;
      height: 2rem;
      border: 0.1rem solid #C3C2C2;
      border-radius: 100%;
      background-color: #F7F6F6;
      font-weight: 500;
      
    
      }
  

.btn_eliminar:hover {
cursor: pointer;

}