.contenedoruno {
  background-image: url("../public/portada.jpg");
  padding: 6rem 0;
  background-size: cover;
  background-position: center center;
  height: 9rem;
}

.contenedordos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 950px) {
  .contenedordos {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5rem;
  }
  
}

.navegaciondos {
  display: flex;
  margin-top: 5rem;
  background: rgb(238, 238, 210);
  background: linear-gradient(
    180deg,
    rgba(238, 238, 210, 1) 0%,
    rgba(212, 212, 181, 1) 51%,
    rgba(238, 238, 210, 1) 100%
  );
  border-radius: 2rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  img {
    width: 12rem;
  }

  .Articulo {
    justify-content: center;
    z-index: -5;
  }
}

@media (min-width: 480px) {
  .Articulo {
    justify-content: center;
    z-index: -5;
    border-bottom: solid rgb(128, 128, 128);
  }

  .Articulo>.card>.card-body{
  font-size: 1.2rem;
  }

  .Titulo-articulo{
  font-size: 1.8rem;
  font-family: 'Latto';
}

.Titulo-blog{
  font-size: 3rem;
}

.Subtitulo-blog{
  font-size: .6rem;
  font-family: 'Latto', sans-serif;
}
}

img {
  width: 8rem;
}

.navegacion a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition-property: background-color;
  transition-duration: 300ms;
}

.navegaciondos .modificado {
  color: red;
  font-size: 2rem;
}

/*Imagenes cards mascotas*/

.Blog {
  background-image: url("/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: -5;
}



.imagen-card {
  width: 100%;
}

.Categoria-articulo {
  text-align: left !important;
  padding: 10px 0 10px 5px;
  background-color: #dcdcdc;
}

.Articulo > .card > img {
  border-radius: 20px 20px 0 0 !important;
}

.Articulo > .card > .card-body {
  border-radius: 20px !important;
}

.Articulo {
  max-height: fit-content;
}

.Articulo > div {
  background-color: transparent;
}

.Titulo-articulo{
  font-size: 1.8rem;
  font-family: 'Latto';
}

.Titulo-blog, h2{
  font-size: 5rem;
}

.Subtitulo-blog, h5{
  font-size: 2rem;
  font-family: 'Latto', sans-serif;
}

/* estilos footer*/
.footer{
  /* position: fixed ; */
  left:0;
  bottom: 0;
  width: 100%;
  background-color: rgb(226, 111, 193);
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center center;
  height: 20%;
  padding-top: 14%;
  padding-bottom: 8%;
}

.footer h4{
  font-size: 40px;
  text-transform: capitalize;
  font-family: dancing script;
  margin: 10px 0;

}

.footer p{

  width: 50%;
  margin: auto;
  line-height: 1.6;

}


.footer span{
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  margin: 0 20px;

}

.social{
  padding-top: 2%;
}

.social span{
  color: #1b0c4f;
  font-size: 25px;
  line-height: 50px;
}

@media(max-width: 1000px){
  .footer{
      height: 30%;
      padding-top: 19%;
  }
  .footer p{
      width: 90%;
  }
}

@media(max-width:600px){
  .footer{
      height: 40%;
      padding-top: 45%;
      padding-bottom: 0;
  }

  .footer p{
      width: 90%;
      line-height: 1.4;
      font-size: 10px;
  }

  .footer span{
      width: 35px;
      height: 35px;
      margin: 0 5px;
  }

  .social span i {
      font-size: 18px;
      line-height: 36px;
  }
}